## .gitignore ##
# ignore all
*
*/

# whitelist
!/.gitignore
!/myst3env.sublime-project
!/README.md
!/User
!/User/Preferences.sublime-settings
!/User/Package Control.sublime-settings
!/Snippets/
!/Snippets/*